/* deklarace proměnných barev, fontů, velikosti a tučnosti */
:root {
    /* Colors */
    --clr-primary-100: #014A87;
    --clr-primary-200: #B90A06;
    --clr-neutral-100: #000;
    --clr-neutral-200: #fff;
    --clr-accent-100: #fafafa;
    --clr-accent-200: #007FE9;

    /*Fonts*/
    --ff-primary: "Montserrat",sans-serif;

    /* Font weight */
    --fw-regular: 400;
    --fw-semi-bold:600;
    --fw-bold: 700;
    
    /* Font sizes */
   --fs-400: 1rem;
   --fs-500: 1.25rem;
   --fs-600: 2rem;
   --fs-700: 4rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
    list-style: none;
    list-style: none;
}
/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: unset;
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
    scroll-padding-top: 15rem;
}
/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}
/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    display: block;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/** &general **/
.container{
    max-width: 1550px;
    margin: 0 auto;
    padding-inline: 15px;
}

body {
    color: var(--clr-neutral-100);
    font-size: var(--fs-500);
    font-family: var(--ff-primary);
    font-weight: var(--fw-regular);
}

.more_info{
    color: var(--clr-primary-100);
    font-weight: var(--fw-bold);
    transition: 0.3s ease;
    display: inline-block;
    margin-top: 30px;
}
.more_info--white{
    color: white;
    margin-top: 2.2rem;
}
.more_info:hover{
    transform: translate(0,-4px);
}

.bg-accent-100{
    background-color: var(--clr-accent-100);
}
.bg-primary-100{
    background-color: var(--clr-primary-100);
}
.text_center{
    text-align: center;
}
.padding-block--300{
    padding-block: 50px;
}
.padding-block--400{
    padding-block:100px
}
.padding-block--500{
    padding-block:140px
}

.margin-block--300{
    padding-block: 50px;
}
.margin-block--400{
    padding-block:100px
}
.margin-block--500{
    padding-block:140px
}

.fw-bold{
    font-weight: var(--fw-semi-bold);
}

.primary_heading{
    font-weight:var( --fw-bold);
    font-size: var(--fs-700);
    color: var(--clr-primary-100);
    margin-bottom: 10px;
    line-height: 1.3;
}
.primary_heading--main{
    padding-top:10rem;
}
.secondary_heading{
    font-weight: var(--fw-bold);
    font-size: var(--fs-600);
    color: var(--clr-primary-100);
}
.secondary_heading--training{
    display: inline;
}
.special-text--blue{
    color: var(--clr-primary-100);
    font-weight: 600;
}
.special-text--lblue{
    color: var(--clr-accent-200);
    font-weight: 500;
}
.special-text--lblue:hover{
    text-decoration: underline
    ;
}
.special-text--underline{
    text-decoration: underline;
}



/*list styling*/
.unordered-list{
    margin-left: 2rem;
    margin-block: 2rem;
    list-style: disc inside;
    color: var(--clr-primary-100);
    display: block;
}

.unordered-list ul{
    margin-top: 15px;
    margin-bottom: 30px;
    list-style: circle inside;
    margin-left: 2.5rem;
}
.ordered-list{
    list-style: normal inside;
    margin-top: 16px;
    margin-left: 2rem;
}  
.ordered-list li{
    margin-bottom: 16px;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

/* &header */
#logo{
    min-width: 320px;
    max-width: 300px;
}
header{
    box-shadow: 0px 3px 8px 0px rgba(97, 97, 97, 0.10);
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 999;
    height: 100px;
}

.navbar_wrapper{
    display: flex;
    justify-content: space-between;
    color: var(--clr-primary-100);
    align-items: center;
    font-size: 16px;  
}

.navbar_wrapper .right_wrapper{
    display: flex;
    gap: 1.2rem;
    align-items: center;
    font-weight: var(--fw-bold);
}

/* pravá část s mailem a home buttonem*/
.right_wrapper i{
    font-size: 25px;
    transition: 0.3s;
}
.right_wrapper i:hover{
    padding-bottom: 8px;
}
.right_wrapper p:hover{
    text-decoration: underline;
}

/* &footer */
footer hr{
    background-color: var(--clr-primary-100);
    height: 3px;
    margin-top: 20px;
}
.footer_wrapper{
    display: flex;
    justify-content: space-between;
}
.footer_wrapper p{
    margin-block: 40px;
    color: var(--clr-primary-100);
}

/* divider */
.divider{
    position: relative;
}
.divider__image{
    position: absolute;
    top:0;
    right: 50%;
    transform: translate(50%,-50%);
    width: 130px;
}
.divider__line{
    height: 3px;
    background-color: var(--clr-primary-100);
}

@media(max-width:1350px){
    .primary_heading--smaller{
        font-size: 3rem;
    }
}


/* &breakpoint */
@media(max-width:900px){
    .padding-block--300{

    }
    .padding-block--400{

    }
    .padding-block--500{
        padding-block: 90px;
    }
}

@media(max-width:500px){
    .padding-block--300{

    }
    .padding-block--400{
        padding-block: 70px;
    }
    .padding-block--500{
    }
    
    /* footer-BP */  
    .footer_wrapper{
        flex-direction: column;
        padding-block: 40px;
    }
    .footer_wrapper p{
        margin-block: 0;
        text-align: center;
    }
    .ordered-list{
        margin-left: 0px;
    } 
    
    .primary_heading--smaller{
        font-size: 2.4rem;
        margin-bottom: 2rem;
    }

    .center{
        align-items: unset;
    }
}